.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353ff;
}

.verde-limao {
    color: #daff01;
}

@media (min-width: 1440px) {
    .divs-facilidades {
        width: 304px;
    }
}